body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #0f172a;
  color: #e2e8f0;
}

.imagem {
  text-align: center;
  height: 170px;
  width: 270px;
  border-radius: 12px;
  border: 5px solid black;
  margin: 0 0 0 300px;

}

.logo{
  padding-left: 11px;
}

#titulo {
  text-align: center;
  color: rgb(6, 197, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.language-html {
  border-radius: 12px;
}


.language-css {
  border-radius: 12px;
}


.saida {
  color: green;
  font-weight: bold;
}




#decorada {
  color: red;
  background-color: yellow;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(6, 197, 255);
  border-radius: 10px;
  width: 300px;
  height: 100px;
}



h2 {
  color: rgb(6, 197, 255);
}

.azul {
  color: rgb(6, 197, 255);
}

.planeta {
  height: 100px;
  width: 100px;
  border-radius: 12px;
}


#unica {
  color: green;

}

#unica2 {
  color: orange;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.content {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}



/* FUNDO DECORATIVO CSS */

body::before,
body::after {
  content: "";
  position: fixed;
  width: 420px;
  height: 420px;
  border-radius: 40px;
  filter: blur(60px);
  opacity: 0.25;
  z-index: -1;
}

body::before {
  background: #2965f1;
  top: 10%;
  left: 8%;
  transform: rotate(25deg);
}

body::after {
  background: #3c8cff;
  bottom: 10%;
  right: 8%;
  transform: rotate(-20deg);
}


html::before,
html::after {
  content: "";
  position: fixed;
  width: 260px;
  height: 260px;
  border-radius: 30px;
  filter: blur(50px);
  opacity: 0.20;
  z-index: -1;
}

html::before {
  background: #2965f1;
  top: 60%;
  left: 20%;
  transform: rotate(15deg);
}

html::after {
  background: #3c8cff;
  top: 25%;
  right: 25%;
  transform: rotate(-15deg);
}
